<html>
  <head>
    <title>About Harrison</title>
    <link rel="stylesheet" type="text/css" href="static/yeetstrap.css">
  </head>
  <body>
    <div class="jumbotron">
      <h1>you can't handle the truth</h1>
      <p>My friends call me Harry, but my real name is James...</p>
      <hr>
    </div>
    <div class="jumbotron" style="margin-left: 15rem; margin-right: 15rem">
      <h3>what might I be up to any given moment?</h3>
      <ul style="text-align: left">
        <li> Eating a bagel</li>
        <li> Playing Apex Legends</li>
        <li> Building a website</li>
        <li> Annoying my girlfriend</li>
        <li> Plotting to takeover the word</li>
        <li> Practicing "Attention on deck" commands</li>
      </ul>
      <p> and much, much more...</p>
    </div>
    <div style="margin-left: 30rem; margin-right: 30rem">
      <h3 style="color: darkred">Did you ever hear the tragedy of Darth Plagueis the Wise?</h3>
      <p style="color: black">  I thought not. It's not a story the Jedi would tell you. It's a Sith legend. Darth Plagueis was a
        Dark Lord of the Sith, so powerful and so wise he could use the Force to influence the midichlorians to
        create life... He had such a knowledge of the dark side that he could even keep the ones he cared about
        from dying. The dark side of the Force is a pathway to many abilities some consider to be unnatural.
        He became so powerful... the only thing he was afraid of was losing his power, which eventually, of course,
        he did. Unfortunately, he taught his apprentice everything he knew, then his apprentice killed him in his
        sleep. <em>It's ironic</em> he could save others from death, but not himself.</p>
    </div>
    <br>
    <p>
      <a class="button" href="/">Would you like to go home?</a>
      <a class="button" href="/album">Would you like to see more?</a>
    </p>
  </body>
</html>
