<html>
  <head>
    <title>Harrison's Webpage</title>
    <link rel="stylesheet" type="text/css" href="static/yeetstrap.css">
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display">Welcome to my Webpage</h1>
      <p class="lead">My name is Harrison Kubena, and you're watching Disney.</p>
      <hr>
    </div>
    <p>
      <a class="button" href="/about">Would you like to know more?</a>
      <a class="button" href="/album">Would you like to see more?</a>
    </p>
  </body>
</html>
